.must::before {
  content: '＊';
  display: inline-block;
  color: red;
  font-size: 1.6rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -18px;
}
.must--textarea::before {
  top: 18px;
}
