.service-tag {
  color: #696969;
  background-color: #a4dfcf;
}

.service-tag:nth-child(2n) {
  color: #696969;
  background-color: #fffacd;
}
.service-tag:nth-child(3n) {
  color: #696969;
  background-color: #ffbfbf;
}
.service-tag:nth-child(4n) {
  color: #696969;
  background-color: #fdf5e6;
}
.service-tag:nth-child(5n) {
  color: #696969;
  background-color: #dbdbdb;
}
