html {
  font-size: 62.5%;
}
body {
  color: #fafafa;
  font-family: PixelMplus12, "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1.6rem;
  -webkit-text-size-adjust: none;
  letter-spacing: 1px;
  margin: 0;
  background-image: url("../../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
/* Clearfix http://cssmojo.com/the-very-latest-clearfix-reloaded/
==============================*/
.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
